*.java  text=auto
*.md	text=auto
*.json  text=auto
*.xml   text=auto
*.txt   text=auto
*.properties text=auto
*.yaml  text=auto
*.prefs text=auto
.classpath text=auto
.gitignore text=auto
.project   text=auto
